.navbar-google {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.navbar-item {
    margin: 5px 11px 11px 11px;
}
a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-family: Arial, sans-serif;
}
img {
    width: 272px;
    height: 92px;
}
.img-navicon {
    width: 75px;
    height: 25px;
    /* margin: 0 0 0 11px; */
}
.navbar-adv {
    justify-content: space-between;
    padding-inline-start: 0;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input[type="text"] {
    border: 1px solid #dadce0;
    box-shadow: 0px 3px 10px 0px rgba(31, 31, 31, 0.08);
    border-radius: 26px;
    margin-top: 26px;
    margin-bottom: 24px;
    z-index: 3;
    max-width: 688px;
    height: 22px;
    padding: 14px;
    width: 50vmax;
    font-size: 16px;

}
input[type="text"]:hover {
    box-shadow: 0 2px 8px 1px rgba(64, 60, 67, .24);
}
input[type="submit"], input[type="button"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 8px;
    color: #3c4043;
    font-family: Google Sans, Arial, sans-serif;
    font-optical-sizing: none;
    font-size: 14px;
    font-weight: 500;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}
input[type="submit"]:hover, input[type="button"]:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}
h1 {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
    font-family: Arial, sans-serif;
    font-weight: 400;
}
.hr {
    border-bottom: 1px solid #ebebeb;
}
input[type="submit"].adv-search-btn {
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    background-image: linear-gradient(top, #4d90fe,#4787ed);
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    margin-right: 8.3px;
    padding: 0 8px;
    line-height: 100%;
    height: 30px;
    min-width: 120px;
    max-width: 120px;
    margin-left: auto;
}
input[type="submit"].adv-search-btn:hover {
    background-color: #427cd9;
    background-image: -webkit-linear-gradient(top, #4d90fe, #427cd9);
    background-image: linear-gradient(top, #4d90fe,#4787ed);
    border: 1px solid #195ecd;
}
input[type="text"].advanced-input, .advanced-input-header {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    float: left;
    min-width: 167px;
    width: 37vmax;
    vertical-align: middle;
    box-shadow: none;
    margin: 8px;
}
input[type="text"].advanced-input:focus {
    box-shadow: inset 0px 1px 0px 1px rgba(0, 0, 0, 0.149);
    border: 1px solid #3079ed;
    outline: none;
}
.advanced-input-header {
    border: transparent;
    visibility: hidden;
}
input[type="text"]:focus {
    box-shadow: 0 2px 8px 1px rgba(64, 60, 67, .24);
    border-color: transparent;
    outline: none;
}
form {
    margin-top: 25px;
}
.col1-heading {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 15px 35px;
}
.col2-heading {
    font-size: 13px;
    font-family: Arial, sans-serif;
    font-weight: 700;
    color: #777;
    margin: 16.5px 35px;
}
.col1-body {
    font-family: Arial, sans-serif;
    color: #222;
    font-size: 13px;
    margin: 15px 35px;
}
.col2-body {
    color: #555;
    font-size: 11px;
    font-family: Arial, sans-serif;
    padding-left: 5px;
    margin: 16.5px 35px;
}
.keywords {
    color: #666;
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
}
.col-item {
    display: inline-flex;
    flex-direction: column;
}
@media screen and (max-width: 1300px) {
    .col2-body, .col2-heading {
        display: none;
    }
}